<!DOCTYPE html>
<html>
{{ form.media.css }}
{{ form.media.js }}
<head>
    <meta charset="utf-8" />
    <title>Device {{ device }}</title>
</head>
<body>
   <form method="POST" action="/ugin/device/edit/">
        {% csrf_token %}
        {% csrf_token %}
    <label>Тип устройства:</label>
    <span>{{ devicetype }}</span>

    <label>Модель устройства:</label>
    <span>{{ devicemodel }}</span>
        {{ form.as_table }}
        <input type="hidden" name="device" value="{{ device }}">
        <input type="hidden" name="model" value="{{ devicemodel }}">
        <input type="submit" value="Сохранить">
    </form>
    <form method="post" action="/ugin/">
        {% csrf_token %}
        <input type="submit" value="Вернуться к приложению" >
    </form>
</body>
</html>
