{% load static %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'ugin/style.css' %}">
    <meta charset="utf-8"/>
    <title>main</title>
</head>
<body>
<div class="wrapper">
    <div>
        <h3>Тип устройства: {{ devicetype }}</h3>
        <h3>Модель устройства: {{ devicemodel }}</h3>
        <form method="POST" action="/ugin/device/edit/">
            {% csrf_token %}
            {{ form.as_table }}
            <input type="hidden" name="device" value="{{ device }}">
            <input type="hidden" name="model" value="{{ devicemodel }}">
            <input type="submit" value="Сохранить">
        </form>
        <form method="post" action="/ugin/">
            {% csrf_token %}
            <input type="submit" value="Вернуться к приложению">
        </form>
    </div>
</div>
</body>
</html>
