{% load static %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'ugin/style.css' %}">
    <meta charset="utf-8"/>
    <title>device search</title>
</head>
<body>
<div class="wrapper">
    <div>
        <h1>Поиск устройства</h1>
        <form>

        </form>
        <form method="post" action="/ugin/devicesearch/">
            {% csrf_token %}
            {{ form.as_table }}
            <input type="submit" value="Найти">
        </form>

        <form method="post" action="/ugin/">
            {% csrf_token %}
            <input type="submit" value="Вернуться обратно">
        </form>
        <ul>
            {% for i in id %}
            <li><a href="/ugin/device/{{ i }}">ID {{ i }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
</body>
<body>

</body>
</html>