{% load static %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'ugin/style.css' %}">
    <meta charset="utf-8" />
    <title>main</title>
</head>
<body>
    <div class="wrapper">
        <div>
        <h2>nano-Ugin</h2>
        <ul>
            <li><a href="{% url 'ugin:devicenew' %}">Перейти к созданию устрйоства</a></li>
        </ul>
        <ul>
            <li><a href="{% url 'ugin:device_search' %}">Поиск устройства</a></li>
        </ul>
        <form method="post" action="/">
            {% csrf_token %}
            <input type="submit" value="Вернуться на главную" >
        </form>
        </div>
    </div>
</body>
</html>
