.wrapper {
  display: grid;
   grid-auto-rows: 300px;
}

* {
  box-sizing: border-box;
}
.wrapper {
  border: 5px solid #000000;
  border-radius: 10px;
  background-color: #FFFF00;
}
.wrapper > div {
  border: 2px solid #ffa94d;
  border-radius: 5px;
  background-color: #ffd8a8;
  padding: 1em;
  color: #d9480f;
}
.nested {
  border: 2px solid #ffec99;
  border-radius: 5px;
  background-color: #fff9db;
  padding: 1em;
}